{% extends "./base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
<style>
    input:focus {
        outline: none;
        border-color: #7a7a7a !important; /* Color medio plomo */
        box-shadow: 0 0 5px #7a7a7a !important; /* Opcional, añade un efecto de sombra */
    }
    button{
        background-color: black !important;
        color: aliceblue !important;
    }
    button:focus {
        outline: none;
        border-color: #7a7a7a !important; /* Color medio plomo */
        box-shadow: 0 0 2px #7a7a7a !important; /* Opcional, añade un efecto de sombra */
    }
    button:hover{
        background-color: #4f4f4f !important;
    }
</style>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 350px;">
        <div class="text-center mb-4">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="img-fluid" style="height: 80px;">
        </div>

        <h5 class="text-center mb-4">Iniciar sesión</h5>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="id_username" class="form-label">Usuario</label>
                {{ form.username|add_class:"form-control" }}
            </div>

            <div class="mb-3">
                <label for="id_password" class="form-label">Contraseña</label>
                <input type="password" id="passwordField" name="password" class="form-control">
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn">Ingresar</button>
            </div>
        </form>

        {% if messages %}
            <ul class="mt-3">
                {% for message in messages %}
                    <li class="text-danger">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
